<h2>New video</h2>

<%= render "form.html", changeset: @changeset, categories: @categories,
                        action: Routes.video_path(@conn, :create) %>

<%= link "Back", to: Routes.video_path(@conn, :index) %>
